/* background image */

body {

  background-image: url("../images/questionmarksbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Sans-serif, Arial;

}

/* background color for scoring section */
.heading {
  background-color: rgb(247, 244, 241);
  text-align: center;
}

/* start button */
#start {

  color: rgb(233, 20, 20);
  background-color: white;
  font-weight: bold;
}

/* image styles */

.square img {
  /* object-fit: contain; */
  height: 100px;
}

/*  square styles */

.square {

  text-align: center;
  border: 1px solid black;

}