/* Google fonts import */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap'); */



/* Grid and square styles */

/* game text styles */

h5 { font: 15px sans-serif}
h6 { font: 15px sans-serif}


.grid {
  display : flex;
  flex-wrap: wrap;

  width: 606px;
  height: 756px;

}

.square {
 
  text-align: center;
  width: 200px;
  height: 256px;
  border: 1px solid black;
  /* box-sizing: border-box;  */
 }

/* responsive design for grid and squares */




@media (max-width: 820px) {
  .grid {
    width: 606px;
    height: 756px;
    /* background-color: rgb(228, 243, 15); */
  }

  .square {
    width: 200px;
    height: 256px;
  }
/* Transform text  */
h5  {font-size: 15px;}
h6  {font-size: 15px;}
/* Transform button size */

button {width: 60px;
height: 25px;

}

}
@media (max-width: 610px) {
  .grid {
    width: 306px;
    height: 381px;
    /* background-color: rgb(243, 15, 15); */
  }

  .square {
    width: 100px;
    height: 125px;
    
  }

/* Transform text  */
h5  {font-size: 7px;}
h6  {font-size: 7px;}

/* Transform button size */

button {width: 30px;
height: 15px;

}

}
 
/* <body class="d-flex flex-column min-vh-100"> */


/* used code from my milestone 1 project to style body of game */
 /* body {
   min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center; 
  align-items: center; 
 }
 */

/* background image */
/* 
body {

background: url(../images/chess-board-solid-full.svg);
background-repeat: no-repeat;
background-size:auto;


} */
/* backdrop-filter: grayscale(100%); */


