/* Google fonts import */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap'); */

/* Grid and square styles */





.grid {
  display : flex;
  flex-wrap: wrap;

  width: 606px;
  height: 906px;

}

.square {

  text-align: center;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  /* box-sizing: border-box;  */
 }

/* responsive design for grid and squares */



@media (max-width: 650px) {
  .grid {
    width: 406px;
    height: 606px;
  }

  .square {
    width: 133px;
    height: 200px;
  }
}
@media (max-width: 400px) {
  .grid {
    width: 306px;
    height: 456px;
  }

  .square {
    width: 100px;
    height: 150px;
  }
}
 



/* used code from my milestone 1 project to style body of game */
 body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}