/* Google fonts import */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap'); */
/* background image */

body {

  background-image: url("../images/questionmarksbackground.jpg");
   background-size: cover;
 background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
 font-family:  Sans-serif, Arial;  

}

/* start button */
#start {

  color: rgb(233, 20, 20);
  background-color: white;
 font-weight: bold;
}

/* image styles */

img {
    object-fit: contain;
    
}

/*  square styles */

.square {

  text-align: center;
   border: 1px solid black;

}





